body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:215px;
  width:1012px;
  height:135px;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
  display:flex;
}
#u1029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:34px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:0px;
  width:619px;
  height:34px;
  display:flex;
}
#u1030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:34px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:0px;
  width:131px;
  height:34px;
  display:flex;
}
#u1031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:0px;
  width:140px;
  height:34px;
  display:flex;
}
#u1032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:50px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:122px;
  height:50px;
  display:flex;
}
#u1033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:50px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:34px;
  width:619px;
  height:50px;
  display:flex;
  font-size:14px;
}
#u1034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:50px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:34px;
  width:131px;
  height:50px;
  display:flex;
}
#u1035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:34px;
  width:140px;
  height:50px;
  display:flex;
}
#u1036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:51px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:122px;
  height:51px;
  display:flex;
}
#u1037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:51px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:84px;
  width:619px;
  height:51px;
  display:flex;
}
#u1038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:51px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:84px;
  width:131px;
  height:51px;
  display:flex;
}
#u1039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:84px;
  width:140px;
  height:51px;
  display:flex;
}
#u1040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:3px 3px 5px rgba(170, 170, 170, 0.56078431372549);
  -webkit-box-shadow:3px 3px 5px rgba(170, 170, 170, 0.56078431372549);
  box-shadow:3px 3px 5px rgba(170, 170, 170, 0.56078431372549);
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:0px;
  width:220px;
  height:144px;
  display:flex;
}
#u1043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:70px;
  width:54px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1044 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1044_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:105px;
  width:173px;
  height:17px;
  display:flex;
  text-align:center;
}
#u1045 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1045_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:19px;
  width:113px;
  height:136px;
  display:flex;
}
#u1047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:43px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:52px;
  width:97px;
  height:33px;
  display:flex;
  font-size:16px;
  color:#A30014;
  text-align:center;
}
#u1048 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1048_img.mouseOver {
}
#u1048.mouseOver {
}
#u1048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:88px;
  width:97px;
  height:30px;
  display:flex;
  font-size:16px;
  color:#A30014;
  text-align:center;
}
#u1049 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1049_img.mouseOver {
}
#u1049.mouseOver {
}
#u1049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:121px;
  width:97px;
  height:31px;
  display:flex;
  font-size:16px;
  color:#A30014;
  text-align:center;
}
#u1050 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1050_img.mouseOver {
}
#u1050.mouseOver {
}
#u1050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:51px;
}
#u1051_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(163, 0, 20, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1051_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:rgba(237, 218, 182, 0.996078431372549);
  text-align:left;
  line-height:28px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:11px;
  width:155px;
  height:28px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:rgba(237, 218, 182, 0.996078431372549);
  text-align:left;
  line-height:28px;
}
#u1052 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1052_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:rgba(237, 218, 182, 0.996078431372549);
  text-align:left;
  line-height:28px;
}
#u1052.selected {
}
#u1052_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:56px;
  height:14px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:38px;
  width:43px;
  height:1px;
  display:flex;
  font-size:16px;
  color:rgba(237, 218, 182, 0.996078431372549);
}
#u1054 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1054_img.mouseOver {
  left:0px;
  top:0px;
  width:53px;
  height:11px;
}
#u1054.mouseOver {
}
#u1054_img.mouseDown {
}
#u1054.mouseDown {
}
#u1054_img.selected {
  left:-2px;
  top:-2px;
  width:57px;
  height:15px;
}
#u1054.selected {
}
#u1054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:109px;
  height:15px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:38px;
  width:95px;
  height:1px;
  display:flex;
  font-size:16px;
  color:#EDDAB6;
}
#u1055 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1055_img.mouseOver {
  left:0px;
  top:0px;
  width:105px;
  height:11px;
}
#u1055.mouseOver {
}
#u1055_img.mouseDown {
}
#u1055.mouseDown {
}
#u1055_img.selected {
}
#u1055.selected {
}
#u1055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:117px;
  height:14px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:38px;
  width:104px;
  height:1px;
  display:flex;
  font-size:16px;
  color:#EDDAB6;
}
#u1056 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1056_img.mouseOver {
  left:0px;
  top:0px;
  width:114px;
  height:11px;
}
#u1056.mouseOver {
}
#u1056_img.mouseDown {
}
#u1056.mouseDown {
}
#u1056_img.selected {
  left:-2px;
  top:-2px;
  width:118px;
  height:15px;
}
#u1056.selected {
}
#u1056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:101px;
  height:15px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:38px;
  width:87px;
  height:1px;
  display:flex;
  font-size:16px;
  color:#EDDAB6;
}
#u1057 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1057_img.mouseOver {
  left:0px;
  top:0px;
  width:97px;
  height:11px;
}
#u1057.mouseOver {
}
#u1057_img.mouseDown {
}
#u1057.mouseDown {
}
#u1057_img.selected {
}
#u1057.selected {
}
#u1057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:110px;
  height:15px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:38px;
  width:96px;
  height:1px;
  display:flex;
  font-size:16px;
  color:#EDDAB6;
}
#u1058 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1058_img.mouseOver {
  left:0px;
  top:0px;
  width:106px;
  height:11px;
}
#u1058.mouseOver {
}
#u1058_img.mouseDown {
}
#u1058.mouseDown {
}
#u1058_img.selected {
}
#u1058.selected {
}
#u1058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:101px;
  height:15px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:38px;
  width:87px;
  height:1px;
  display:flex;
  font-size:16px;
  color:#EDDAB6;
}
#u1059 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1059_img.mouseOver {
  left:0px;
  top:0px;
  width:97px;
  height:11px;
}
#u1059.mouseOver {
}
#u1059_img.mouseDown {
}
#u1059.mouseDown {
}
#u1059_img.selected {
}
#u1059.selected {
}
#u1059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:56px;
  height:51px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:1151px;
  top:4px;
  width:46px;
  height:41px;
  display:flex;
}
#u1060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:102px;
  width:96px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u1061 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1061_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:7px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:138px;
  width:200px;
  height:3px;
  display:flex;
  color:#A30014;
}
#u1062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
